In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('train.csv')

data.head(5)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

## Pandas isin Syntax

### TODO

In [7]:
data.columns

Index(['EmployeeNo', 'Division', 'Qualification', 'Gender',
       'Channel_of_Recruitment', 'Trainings_Attended', 'Year_of_birth',
       'Last_performance_score', 'Year_of_recruitment', 'Targets_met',
       'Previous_Award', 'Training_score_average', 'State_Of_Origin',
       'Foreign_schooled', 'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers',
       'Promoted_or_Not'],
      dtype='object')

In [6]:
def num_unique(df, var):

    return df[var].unique()

In [10]:
for var in ['Division', 'Qualification', 'Channel_of_Recruitment', 'Gender']:

    print(num_unique(data, var))

['Commercial Sales and Marketing' 'Customer Support and Field Operations'
 'Information and Strategy' 'Information Technology and Solution Support'
 'Sourcing and Purchasing' 'Business Finance Operations'
 'People/HR Management' 'Research and Innovation'
 'Regulatory and Legal services']
['MSc, MBA and PhD' 'First Degree or HND' nan 'Non-University Education']
['Direct Internal process' 'Agency and others'
 'Referral and Special candidates']
['Female' 'Male']

### Filtering a Single Column with Pandas Isin

1. Filter dataframe to get only those with `'MSc, MBA and PhD` qualification
2. Filter dataframe to get only those employed through `Referral and Special candidates`
3. Filter dataframe to get only those in `Customer Support and Field Operations` division

#### 1. Filter dataframe to get only those with `MBA and PhD` qualification

In [12]:
data_1 = data[data['Qualification'].isin(['MSc, MBA and PhD'])]

data_1

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
6,YAK/S/00008,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Direct Internal process,2,1988,7.5,2013,0,0,55,OYO,No,Single,No,No,1,0
8,YAK/S/00010,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1989,12.5,2014,1,0,46,ONDO,Yes,Married,No,No,0,0
11,YAK/S/00014,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,3,1982,7.5,2003,0,0,72,EDO,Yes,Married,No,No,0,0
18,YAK/S/00025,Business Finance Operations,"MSc, MBA and PhD",Male,Direct Internal process,3,1982,12.5,2012,0,0,51,PLATEAU,Yes,Single,No,Yes,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38287,YAK/S/54769,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Direct Internal process,2,1980,12.5,2013,1,0,71,BAYELSA,Yes,Single,No,No,1,0
38300,YAK/S/54790,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,4,1990,7.5,2010,0,0,42,OYO,Yes,Single,No,No,1,0
38304,YAK/S/54796,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Agency and others,2,1986,7.5,2012,0,0,62,FCT,Yes,Married,No,Yes,4,0
38305,YAK/S/54799,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Agency and others,3,1981,12.5,2015,1,0,43,FCT,Yes,Married,No,No,1,0
38308,YAK/S/54805,Customer Support and Field Operations,"MSc, MBA and PhD",Female,Agency and others,2,1984,5.0,2013,0,0,48,IMO,Yes,Married,No,No,1,0

#### 2. Filter dataframe to get only those employed through `Referral and Special candidates`

In [15]:
data_2 = data[data['Channel_of_Recruitment'].isin(['Referral and Special candidates'])]

data_2

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
53,YAK/S/00081,Information Technology and Solution Support,First Degree or HND,Male,Referral and Special candidates,2,1974,7.5,2012,0,0,71,LAGOS,Yes,Married,No,No,0,0
77,YAK/S/00115,Commercial Sales and Marketing,First Degree or HND,Male,Referral and Special candidates,2,1987,12.5,2014,0,0,41,OYO,Yes,Married,No,No,0,0
200,YAK/S/00282,Information Technology and Solution Support,First Degree or HND,Male,Referral and Special candidates,3,1992,10.0,2013,0,0,67,OYO,Yes,Single,No,No,0,0
221,YAK/S/00310,Sourcing and Purchasing,First Degree or HND,Female,Referral and Special candidates,2,1988,7.5,2016,1,0,59,BENUE,Yes,Married,No,No,1,0
278,YAK/S/00388,Customer Support and Field Operations,"MSc, MBA and PhD",Female,Referral and Special candidates,2,1989,10.0,2012,1,0,51,RIVERS,Yes,Married,No,No,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38149,YAK/S/54570,Information Technology and Solution Support,First Degree or HND,Male,Referral and Special candidates,2,1996,10.0,2015,1,0,69,OYO,No,Single,No,Yes,0,0
38172,YAK/S/54604,People/HR Management,First Degree or HND,Male,Referral and Special candidates,2,1995,12.5,2017,0,0,42,LAGOS,Yes,Married,No,No,3,0
38186,YAK/S/54622,Information Technology and Solution Support,First Degree or HND,Female,Referral and Special candidates,2,1972,7.5,2006,0,0,72,ANAMBRA,Yes,Married,No,No,0,0
38190,YAK/S/54627,Customer Support and Field Operations,First Degree or HND,Male,Referral and Special candidates,2,1990,12.5,2017,1,0,51,LAGOS,No,Married,No,No,1,0
38260,YAK/S/54728,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Referral and Special candidates,2,1983,10.0,2007,1,0,69,FCT,Yes,Married,No,No,0,0

#### 3. Filter dataframe to get only those in `Customer Support and Field Operations` division

In [16]:
data_3 = data[data['Division'].isin(['Customer Support and Field Operations'])]

data_3

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
5,YAK/S/00007,Customer Support and Field Operations,First Degree or HND,Female,Agency and others,2,1990,7.5,2014,0,0,51,ENUGU,Yes,Married,No,Yes,1,0
6,YAK/S/00008,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Direct Internal process,2,1988,7.5,2013,0,0,55,OYO,No,Single,No,No,1,0
13,YAK/S/00020,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,7.5,2010,0,0,51,BAUCHI,Yes,Married,No,No,1,0
15,YAK/S/00022,Customer Support and Field Operations,NaN,Male,Direct Internal process,2,1980,10.0,2008,0,0,49,RIVERS,Yes,Married,No,No,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38288,YAK/S/54770,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,2.5,2017,0,0,52,YOBE,Yes,Married,No,No,0,0
38292,YAK/S/54775,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1987,2.5,2014,0,0,49,LAGOS,Yes,Married,No,No,1,0
38295,YAK/S/54781,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1982,12.5,2012,0,0,52,RIVERS,Yes,Married,No,No,1,0
38296,YAK/S/54783,Customer Support and Field Operations,Non-University Education,Male,Direct Internal process,3,1995,7.5,2017,0,0,52,RIVERS,Yes,Married,No,Yes,0,0
38308,YAK/S/54805,Customer Support and Field Operations,"MSc, MBA and PhD",Female,Agency and others,2,1984,5.0,2013,0,0,48,IMO,Yes,Married,No,No,1,0

### Filtering Multiple Columns with Pandas Isin

In this section we would like at the following used cases on filtering multiple columns with pandas isin method

1. filter dataframe to include `female` in `Information Technology and Solution Support` division with `MSc MBA and PhD` Qualification
2. filter dataframe to include `male` employed through `Direct Internal process` with `First Degree or HND` Qualification
3. filter dataframe to include those in `Customer Support and Field Operations` with `Non-University Education` and employed throgh `Direct Internal process` and are `married`

#### 1. filter dataframe to include `female` in `Information Technology and Solution Support division` with `MSc MBA and PhD` Qualification

In [26]:
data_4 = data[data[['Gender', 'Division', 'Qualification']].
                isin(['Female', 'Information Technology and Solution Support', 'MSc, MBA and PhD']).all(axis=1)]

In [27]:
data_4.head(6)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
189,YAK/S/00262,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Agency and others,3,1983,7.5,2009,0,0,80,LAGOS,Yes,Married,No,No,5,0
299,YAK/S/00422,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Direct Internal process,2,1991,7.5,2017,0,0,71,OYO,Yes,Single,No,No,1,0
317,YAK/S/00452,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Direct Internal process,2,1980,2.5,2008,0,0,66,BENUE,Yes,Married,No,No,3,0
464,YAK/S/00647,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Direct Internal process,2,1965,5.0,2003,0,0,71,EDO,Yes,Married,No,Yes,0,0
496,YAK/S/00701,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Agency and others,2,1978,10.0,2013,0,0,73,KATSINA,Yes,Married,No,No,4,0
529,YAK/S/00753,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Agency and others,2,1990,7.5,2014,1,0,73,DELTA,No,Married,No,No,1,0

#### 2. filter dataframe to include `male` employed through `Direct Internal process` with `First Degree or HND` Qualification

In [ ]:
data_4 = data[data[['Gender', 'Division', 'Qualification']].
                isin(['Female', 'Information Technology and Solution Support', 'MSc, MBA and PhD']).all(axis=1)]

In [32]:
data_5 = data[data[['Gender', 'Channel_of_Recruitment', 'Qualification']].isin(
    ['Male', 'Direct Internal process', 'First Degree or HND']
).all(axis=1)]

print(data_5.shape)
data_5.head(6)

(7624, 19)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0
10,YAK/S/00013,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1972,12.5,2014,1,0,41,KWARA,Yes,Married,No,Yes,1,0
21,YAK/S/00030,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1995,0.0,2018,0,0,36,EKITI,Yes,Married,No,No,1,0
25,YAK/S/00037,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1988,10.0,2015,1,0,67,LAGOS,Yes,Married,No,No,1,0
30,YAK/S/00048,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1981,7.5,2008,0,0,72,IMO,Yes,Married,No,No,1,0

#### 3. filter dataframe to include those in `Customer Support and Field Operations` with `Non-University Education` and employed throgh `Direct Internal process` and are `Married`

In [35]:
data_6 = data[data[['Division', 'Qualification', 'Channel_of_Recruitment', 'Marital_Status']].isin(
    ['Customer Support and Field Operations', 'Non-University Education', 'Direct Internal process', 'Married']
).all(axis=1)]

print(data_6.shape)
data_6.tail(4)

(41, 19)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
35739,YAK/S/51076,Customer Support and Field Operations,Non-University Education,Female,Direct Internal process,2,1998,7.5,2017,0,0,47,OYO,Yes,Married,No,No,1,0
37339,YAK/S/53358,Customer Support and Field Operations,Non-University Education,Male,Direct Internal process,3,1999,10.0,2017,1,0,52,BENUE,Yes,Married,No,No,1,0
37660,YAK/S/53819,Customer Support and Field Operations,Non-University Education,Male,Direct Internal process,2,1997,0.0,2018,0,0,57,TARABA,Yes,Married,No,Yes,0,0
38296,YAK/S/54783,Customer Support and Field Operations,Non-University Education,Male,Direct Internal process,3,1995,7.5,2017,0,0,52,RIVERS,Yes,Married,No,Yes,0,0

Similiarly, we can also filter our dataframe to print columns if any of the condition above is met by chaining our data to `.any` method. The code below mean filter dataframe to include those in `Customer Support and Field Operations` or with `Non-University Education` or employed through `Direct Internal process` or are `Married`

In [37]:
data_7 = data[data[['Division', 'Qualification', 'Channel_of_Recruitment', 'Marital_Status']].isin(
    ['Customer Support and Field Operations', 'Non-University Education', 'Direct Internal process', 'Married']
).any(axis=1)]


data_7.head(3)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0

The code below means give me those employees that either have `MSc, MBA and PhD` **or** `Non-University Education` qualification

In [39]:
data_8 = data[data[['Qualification']].isin(
    ['MSc, MBA and PhD', 'Non-University Education']
).any(axis=1)]


data_8['Qualification'].unique()

array(['MSc, MBA and PhD', 'Non-University Education'], dtype=object)